<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"       
	xmlns:p="http://www.springframework.org/schema/p"  
	xmlns:context="http://www.springframework.org/schema/context"   
	xmlns:tx="http://www.springframework.org/schema/tx"  
	xmlns:aop="http://www.springframework.org/schema/aop"  
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
	http://www.springframework.org/schema/beans/spring-beans.xsd    
	http://www.springframework.org/schema/aop    
	http://www.springframework.org/schema/aop/spring-aop.xsd    
	http://www.springframework.org/schema/tx    
	http://www.springframework.org/schema/tx/spring-tx.xsd    
	http://www.springframework.org/schema/context    
	http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="loginAction" class="cn.itcast.jk.action.LoginAction" scope="prototype"></bean>
	<bean id="homeAction" class="cn.itcast.jk.action.HomeAction" scope="prototype"></bean>

	<!-- 部门的Action -->
	<bean id="deptAction" class="cn.itcast.jk.action.sysadmin.DeptAction" scope="prototype">
		<property name="deptService" ref="deptService"></property>
	</bean>

	<!-- 用户的Action -->
	<bean id="userAction" class="cn.itcast.jk.action.sysadmin.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
		<property name="deptService" ref="deptService"></property>
		<property name="roleService" ref="roleService"></property>

	</bean>

	<!-- 角色 -->
	<bean id="roleAction" class="cn.itcast.jk.action.sysadmin.RoleAction" scope="prototype">
		<property name="roleService" ref="roleService"></property>
		<property name="moduleService" ref="moduleService"></property>
	</bean>

	<!-- 模块 -->
	<bean id="moduleAction" class="cn.itcast.jk.action.sysadmin.ModuleAction" scope="prototype">
		<property name="moduleService" ref="moduleService"></property>
	</bean>

	<!-- 货运管理 -->
	<bean id="contractAction" class="cn.itcast.jk.action.cargo.ContractAction" scope="prototype">
		<property name="contractService" ref="contractService"></property>
	</bean>
	<bean id="contractProductAction" class="cn.itcast.jk.action.cargo.ContractProductAction" scope="prototype">
		<property name="contractProductService" ref="contractProductService"></property>
		<property name="factoryService" ref="factoryService"></property>
	</bean>
	<bean id="extCproductAction" class="cn.itcast.jk.action.cargo.ExtCproductAction" scope="prototype">
		<property name="extCproductService" ref="extCproductService"></property>
		<property name="factoryService" ref="factoryService"></property>
	</bean>

	<!-- 出货表 -->
	<bean id="outProductAction" class="cn.itcast.jk.action.cargo.OutProductAction" scope="prototype">
		<property name="contractProductService" ref="contractProductService"></property>
	</bean>

	<!-- 报运 -->
	<bean id="exportAction" class="cn.itcast.jk.action.cargo.ExportAction" scope="prototype">
		<property name="exportService" ref="exportService"></property>
		<property name="contractService" ref="contractService"></property>
		<property name="exportProductService" ref="exportProductService"></property>
	</bean>

	<!-- 统计分析 -->
	<bean id="statChartAction" class="cn.itcast.jk.action.stat.StatChartAction" scope="prototype">
		<property name="sqlDao" ref="sqlDao"></property>
	</bean>

	<!-- 装箱管理 -->
	<bean id="packingListAction" class="cn.itcast.jk.action.cargo.PackingListAction" scope="prototype">
		<property name="packingListService" ref="packingListService"/>
	</bean>
</beans>